/*
* iziToast | v1.4.0
* http://izitoast.marcelodolce.com
* by Marcelo Dolce.
*/

.oblStr {
	padding: 0 !important;
	display: inline-block;
	clear: both;
	position: relative;
	font-family: 'Lato', Tahoma, Arial;
	font-size: 14px;
	background: white !important;
	border-color: white !important;
	width: 450px !important;
	border-radius: 15px !important;
	height: 250px;
	pointer-events: all;
	cursor: default;
	transform: translateX(0);
	-webkit-touch-callout: none
		/* iOS Safari */
	;
	-webkit-user-select: none
		/* Chrome/Safari/Opera */
	;
	-khtml-user-select: none
		/* Konqueror */
	;
	-moz-user-select: none
		/* Firefox */
	;
	-ms-user-select: none
		/* Internet Explorer/Edge */
	;
	user-select: none;
	min-height: 54px;
}

.oblStr>.iziToast-body {
	height: 90% !important;
	margin: 15px !important;
	padding: 10px !important;
}

.oblStr>.iziToast-body .iziToast-texts {
	display: flex !important;
	justify-content: center !important;
	position: relative !important;
	top: 45% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 0 !important;
	float: none !important;
	padding: 0 !important;
}

.oblStr>.iziToast-body .iziToast-message {
	font-size: 16px !important;
	line-height: 18px !important;
	text-align: center !important;
	color: black !important;
	white-space: normal !important;
	top: 45% !important;
}
